@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {


    /* ### Primary */

    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);

    /* ### Neutral  */

    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --GrayishBlue: hsl(201, 11%, 66%);

}



body {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;

}




main {
    width: 100%;
    height: auto;
    min-width: 270px;
    background-image: url("./images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    gap: 8rem;

}

.container {
    display: flex;
    align-items: center;
}

#one,
#two,
#three,
#four,
#six {
    flex-direction: column;
}

#one {
    /* background-color: rgba(0, 0, 0, .5); */
    gap: 2rem;
}

#one img {
    width: 100px;
}


.description-container {
    /* background-color: red; */
    width: 41%;
    min-width: 621px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    /* background-color: aqua; */
}

.description-container h1 {
    font-size: 2.4rem;
    font-weight: 600;
}

.description-container h2 {
    font-size: 2rem;
    font-weight: 600;
}

.description-container p {
    /* background-color: beige; */
    color: var(--GrayishBlue);
    line-height: 1.5rem;

}

.description-container.header p {
    font-size: 1rem;
    width: 100%;
}

.description-container.children p {
    font-size: .9rem;
    word-wrap: break-word;
    width: 96.5%;
    word-spacing: .2rem;
}



.download-control {
    /* background-color: aqua; */
    display: flex;
    gap: 1rem;
}

.download-control button {
    outline: none;
    border: none;
    cursor: pointer;
    padding: .8rem 1.5rem;
    border-radius: 20px;
    color: #fff;
    font-family: 'Bai Jamjuree', sans-serif;
    box-shadow: inset 1px -2px 2px 1px rgba(0, 0, 0, .2);
    position: relative;
}

#ios {
    background-color: var(--Strong-Cyan);
}

#mac {
    background-color: var(--Light-Blue);
}


.download-control button::before {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.download-control button:nth-of-type(1)::before {
    box-shadow: 0px 5px 15px 5px hsla(171, 66%, 44%, .1);
}

.download-control button:nth-of-type(2)::before {
    box-shadow: 0px 5px 15px 5px hsla(233, 100%, 69%, .1)
}





#two {
    gap: 4rem;
}

#two img {
    width: 50%;
    height: 50%;

}



.computer-container {
    display: flex;

    /* background-color: aqua; */
    gap: 5rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;


}



.computer-properties {
    width: min-content;
    display: flex;
    flex-direction: column;

    gap: 2.5rem;
    padding-top: 7rem;

}

.property {
    /* background-color: red; */
    width: 45%;
    min-width: 310px;


}

.property p {
    color: var(--GrayishBlue);
    font-size: .9rem;
    line-height: 1.5rem;
    margin-top: .5rem;
}

#three {
    gap: 5rem;
}

#three img {

    width: 50%;

}

#four {
    margin-top: -2rem;
    gap: 4rem;

}

.four-small-containers {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

}

.small-container {
    width: 22%;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;


    gap: 1.5rem;
}

.small-container p {
    text-align: center;
    color: var(--GrayishBlue);
    font-size: .9rem;
    line-height: 1.5rem;
}

.small-container img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}



#five {
    justify-content: center;
    align-items: center;
    gap: 5.5rem;
    flex-wrap: wrap;
}


#six {
    gap: 2rem;
}


#seven {
    justify-content: center;
    align-items: center;
    gap: 2rem 15rem;
    background-color: hsla(201, 11%, 66%, .1);
    padding: 2rem 0rem;
    flex-wrap: wrap;
}

#seven>img {
    width: 50px;
    height: 50px;
}

.footer-nav {

    display: flex;
    flex-wrap: wrap;
    margin-left: -5rem;
    width: 30%;
    min-width: 380px;

    gap: .5rem 5rem;

}

.footer-nav li {
    list-style: none;

}

.footer-nav li a {
    text-decoration: none;
    color: var(--Dark-Grayish-Blue);
    font-weight: 600;
    font-size: .9rem;
}

.footer-nav li a:hover {
    color: var(--Strong-Cyan);
}

.footer-nav li:nth-of-type(5) {
    margin-left: -2.6rem;
}


.social-media {

    gap: 1rem;
    display: flex;
}

.social-media img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.computer-icon,
.device-icon {
    min-width: 270px;


}




@media screen and (max-width:640px) {

    html,
    body {
        font-size: 15px;
    }

    main {
        background-image: url("./images/bg-header-mobile.png");
    }


    .description-container {
        width: 100%;
        min-width: 0px;
    }

    .download-control {
        flex-direction: column;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
        margin-left: 0rem;
        min-width: 100px;
    }

    .footer-nav li:nth-of-type(5) {
        margin-left: 0rem;
    }


    #seven,
    #five {
        flex-direction: column;
    }

    .computer-container {
        gap: 0;
        flex-direction: column;
        align-items: center;
    }

    .computer-properties {
        padding-top: 3rem;
        width: 100%;

    }

    .property {
        text-align: center;
        min-width: 0px;

        width: 100%;
    }
}